<!-- your html code here -->
<div class="col-10 mx-auto">
    <div class="row my-5 ">
        <div class="col-9">
            <h2>
                This First Heading <span class="text-secondary">Will Catch Your Eye</span>
            </h2>
            <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim sem eget est faucibus lacinia. Donec vel nisi
            lectus. Fusce velit libero, scelerisque sit amet orci quis, tincidunt pretium odio. Duis vitae nisi nisi. Nullam
            ultrices luctus enim ac lobortis.</p>
        </div>
        <div class="col-3">
            <img class="rounded-circle " height="200px" src="../website/assets/img/1.jpg" alt="">
        </div>
    </div>
</div>