<!-- your html code here -->
<div class="row">
    <div class="col-8">
        <h1>
            This First Heading <span class="text-secondary">Will Catch Your Eye</span>
        </h1>
        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim sem eget est faucibus lacinia. Donec vel nisi
        lectus. Fusce velit libero, scelerisque sit amet orci quis, tincidunt pretium odio. Duis vitae nisi nisi. Nullam
        ultrices luctus enim ac lobortis.</p>
    </div>
    <div class="col-2">
        <img class="rounded-circle object-fit-contain w-100 h-100" src="../website/assets/img/1.jpg" alt="">
    </div>
</div>