<div class="container">
    <div class="texto-contenedor">
        <h2>Portfolio</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia amet enim modi dignissimos deserunt neque
            libero illo, expedita odio autem in sequi provident eum, cumque impedit necessitatibus, eos ab delectus.</p>
    </div>
</div>
<div class=" row-cols-md-3 g-4">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Proyect Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card’s content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Proyect Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card’s content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Proyect Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card’s content.</p>
            </div>
        </div>
    </div>