<!-- Autores:
    - Alberto Madrid
    - Patricia Fiopani
    - Manuel Hernandez -->

<div class="mx-auto col-10">
    <div class="row my-5">
        <div class="col-3">
            <img src="../website/assets/img/2.jpg" width="200px" height="200px" class="rounded-circle"
                alt="Persona escribiendo en un teclado">
        </div>
        <div class="col-9">
            <div class="texto-contenedor ms-2">
                <h2>The Second Heading <font color="gray">Is Pretty Cool Too.</font>
                </h2>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                    Praesent
                    commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        </div>
    </div>