<!-- your html code here -->
<header class="d-flex align-items-start text-center pt-5"
        style="background-image: url('assets/img/bg.jpg');
               background-size: cover;
               background-position: center;
               height: 75vh;">
  <div class="container fluid">
        <h1 class="fw-bold text-dark bg-white d-inline-block px-5 py-3 rounded-2"
        style="font-size: 7rem !important;">One Page Wonder</h1>
        <h2 class="fw-normal text-dark bg-white d-inline-block px-4 py-2 mt-3 rounded-2"
        style="font-size: 4rem !important;">Will Knock Your Socks Off</h2>
  </div>
</header>
